.tw-folloCard{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tw-folloCard-avatar{
  width: 50px;
  border-radius: 50%;
}
.tw-folloCard-btn{
  padding: 6px 16px;
  border: 0;
  border-radius: 999px;
  margin-left: 30px;
  font-weight: bold;
  
}
.tw-folloCard-header{
  display: flex;

}
.tw-folloCard-user{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  color: #ffff;
}
.App{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.is-following{
  border: 1px solid red;
}
.tw-folloCard-btn:hover{
  background-color: #09f;
  transition: .3s ease background-color;
}
.is-following:hover{
  background-color: red;
}